/*Alterações BRESHOP*/

























/*********************** BOOTSTRAP ***********************************/
.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-image-1 {
  width: 498px;
  min-height: 804px;
  background-image: url("images/cedf033c-96f9-4701-bbfa-9ba3212ebd61.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 342px;
  min-height: 218px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 326px auto 0 163px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 617px;
  margin: -771px 0 34px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 624px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-1 .u-image-1 {
    width: 436px;
    min-height: 856px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 96px;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
    height: auto;
    margin-top: -823px;
  }

  .u-section-1 .u-image-2 {
    height: 214px;
  }

  .u-section-1 .u-image-3 {
    height: 214px;
  }

  .u-section-1 .u-image-4 {
    height: 214px;
  }

  .u-section-1 .u-image-5 {
    height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-1 .u-image-1 {
    min-height: 611px;
    width: 561px;
    margin-left: 75px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 392px;
    margin-left: auto;
    margin-bottom: -59px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 65px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 68px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    min-height: 154px;
    margin-top: 457px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 806px;
}

.u-section-2 .u-image-1 {
  width: 498px;
  min-height: 804px;
  background-image: url("images/r-min.jpg");
  background-position: 50% 50%;
  height: auto;
  margin: 34px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 342px;
  min-height: 218px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 326px auto 0 163px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 617px;
  margin: -804px 0 34px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 624px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  height: 213px;
  width: 177px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-image-1 {
    width: 436px;
    min-height: 856px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-left: 96px;
  }

  .u-section-2 .u-list-1 {
    width: 470px;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
  }

  .u-section-2 .u-image-4 {
    height: 214px;
  }

  .u-section-2 .u-image-5 {
    height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-2 .u-image-1 {
    min-height: 611px;
    width: 561px;
    margin-left: 75px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 392px;
    margin-left: auto;
    margin-bottom: -59px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 68px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    min-height: 154px;
    margin-top: 457px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}