@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.models {
    display: none;
}

h3 {
    padding: 12px 0;
}


aside {
    font-family: 'Hepta Slab', Helvetica, Arial;
    background-color: #e6b68b;
    width: 0vw;
    transition: all ease .2s;
    overflow-x: hidden;
}

    aside.show {
        width: 30vw;
    }

.cart--area {
    padding: 20px;
    margin-top: 30px;
}

    .cart--area h1 {
        display: relative;
    }



main {
    flex: 1;
    padding: 20px;
    margin-top: 80px;
}


h1, h2 {
    margin-bottom: 30px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

.carrinho-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carrinho-item {
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin: 0% 0% 0% 8%;
    text-align: center;
    max-width: 20%;
}

    .carrinho-item a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
    }

.carrinho-item--img {
    background-color: #EEE;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

    .carrinho-item--img img {
        width: 100%;
        height: 220px;
    }

.carrinho-item--add {
    background-color: #d32f2f;
    text-align: -webkit-match-parent;
    color: #FFF;
    font-size: 26px;
    width: 23%;
    height: 13%;
    line-height: 47px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 16%;
    transition: all ease .2s;
    margin-left: 39%;
}

.carrinho-item a:hover .carrinho-item--add {
    background-color: #b71c1c;
}

.carrinho-item--price {
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}

.carrinho-item--name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.carrinho-item--desc {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}


.carrinhoWindowArea {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.carrinhoWindowBody {
    width: 900px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin-top: 11%;
    margin-left: 27%;
}



.carrinhoBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinhoBig--back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.carrinhoBig img {
    height: 400px;
    width: auto;
}

.carrinhoInfo {
    flex: 1;
    font-family: 'Hepta Slab', Helvetica, Arial;
    padding-bottom: 50px;
}

    .carrinhoInfo h1 {
        margin-top: 50px;
    }

    .carrinhoInfo .carrinhoInfo--desc {
        font-size: 15px;
        color: #999;
        margin-top: 10px;
        font-family: 'Lato',Helvetica,Arial;
    }

.carrinhoInfo--sector {
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.carrinhoInfo--sizes {
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}

.carrinhoInfo--size {
    padding: 10px 15px;
    color: #000;
    background-color: #EEE;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

    .carrinhoInfo--size:hover {
        background-color: #CCC;
    }

    .carrinhoInfo--size.selected {
        background-color: #d32f2f;
        color: #FFF;
    }

        .carrinhoInfo--size.selected span {
            color: #D6D6D6;
        }

    .carrinhoInfo--size span {
        font-size: 12px;
        color: #999;
        font-weight: normal;
    }

.carrinhoInfo--price {
    display: flex;
    align-items: center;
}

.carrinhoInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
}

.carrinhoInfo--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

    .carrinhoInfo--qtarea button {
        border: 0;
        background-color: transparent;
        font-size: 17px;
        outline: 0;
        cursor: pointer;
        padding: 0px 10px;
        color: #333;
    }

.carrinhoInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.carrinhoInfo--addButton {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48d05f;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

    .carrinhoInfo--addButton:hover {
        background-color: #32a345;
    }

.carrinhoInfo--cancelButton {
    display: inline-block;
    cursor: pointer;
}

.carrinhoInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

.cart {
    margin-bottom: 20px;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

    .cart--item img {
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

.cart--item-nome {
    flex: 1;
}

.cart--item--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

    .cart--item--qtarea button {
        border: 0;
        background-color: transparent;
        font-size: 17px;
        outline: 0;
        cursor: pointer;
        padding: 0px 10px;
        color: #333;
    }

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 1px solid #66280a;
    color: #315970;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

    .cart--totalitem span:first-child {
        font-weight: bold;
    }

    .cart--totalitem.big {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }

.cart--finalizar {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #49bb5c;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: all ease .2s;
}

    .cart--finalizar:hover {
        background-color: #35af4a;
    }

/*responsividade*/


