@model List<Breshop.Models.Produto>

<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="~/css/nicepage.css" />
    <link rel="stylesheet" href="~/css/Página-Inicial.css" />
    <script class="u-script" type="text/javascript" src="~/js/jquery.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js"></script>
</head>
<body class="u-body u-xl-mode" data-lang="pt">
    <section class="u-align-center u-clearfix u-section-1" id="sec-91ec" style="margin-left: 7%; margin-right: 7%;">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">Sample Headline</h2>
            <div class="u-carousel u-expanded-width-xs u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-none u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-9387">
                <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                    <li data-u-target="#carousel-9387" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-9387" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                </ol>
                <div class="u-carousel-inner u-gallery-inner" role="listbox">
                    <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="~/images/6903603702_1_1_161.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="~/images/6903603800_1_1_16.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-9387" role="button" data-u-slide="prev">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-9387" role="button" data-u-slide="next">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-image u-shading u-section-2" data-image-width="2000" data-image-height="1333" id="sec-2ebd" style="margin-left: 7%; margin-right: 7%;">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/products_options_json-->
            <div class="u-expanded-width u-products u-products-1">
                <div class="u-repeater u-repeater-1">
                    <!--product_item-->
                    <div class="u-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-1">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <!--product_title-->
                            <h4 class="u-align-center u-product-control u-text u-text-1">
                                <a class="u-product-title-link" href="#"><!--product_title_content-->Product 1 Title<!--/product_title_content--></a>
                            </h4><!--/product_title--><!--product_image-->
                            <div alt="" class="u-expanded-width-lg u-image u-image-circle u-product-control u-image-1"></div><!--/product_image--><!--product_price-->
                            <div class="u-product-control u-product-price u-product-price-1">
                                <div class="u-price-wrapper u-spacing-10">
                                    <!--product_old_price-->
                                    <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                    <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->$9.95<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                </div>
                            </div><!--/product_price--><!--product_content-->
                            <div class="u-product-control u-product-desc u-text u-text-default u-text-2"><!--product_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/product_content_content--></div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":"Add to Cart"}--><!--/options_json-->
                            <a href="" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-1"><!--product_button_content-->Add to Cart<!--/product_button_content--></a><!--/product_button-->
                        </div>
                    </div><!--/product_item--><!--product_item-->
                    <div class="u-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-2">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                            <!--product_title-->
                            <h4 class="u-product-control u-text u-text-3">
                                <a class="u-product-title-link" href="#"><!--product_title_content-->Product 2 Title<!--/product_title_content--></a>
                            </h4><!--/product_title--><!--product_image-->
                            <div alt="" class="u-expanded-width-lg u-image u-image-circle u-product-control u-image-2"></div><!--/product_image--><!--product_price-->
                            <div class="u-product-control u-product-price u-product-price-2">
                                <div class="u-price-wrapper u-spacing-10">
                                    <!--product_old_price-->
                                    <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                    <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->$9.95<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                </div>
                            </div><!--/product_price--><!--product_content-->
                            <div class="u-product-control u-product-desc u-text u-text-default u-text-4"><!--product_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/product_content_content--></div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":"Add to Cart"}--><!--/options_json-->
                            <a href="" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-2"><!--product_button_content-->Add to Cart<!--/product_button_content--></a><!--/product_button-->
                        </div>
                    </div><!--/product_item--><!--product_item-->
                    <div class="u-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-3">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <!--product_title-->
                            <h4 class="u-product-control u-text u-text-5">
                                <a class="u-product-title-link" href="#"><!--product_title_content-->Product 3 Title<!--/product_title_content--></a>
                            </h4><!--/product_title--><!--product_image-->
                            <div alt="" class="u-expanded-width-lg u-image u-image-circle u-product-control u-image-3"></div><!--/product_image--><!--product_price-->
                            <div class="u-product-control u-product-price u-product-price-3">
                                <div class="u-price-wrapper u-spacing-10">
                                    <!--product_old_price-->
                                    <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                    <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->$9.95<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                </div>
                            </div><!--/product_price--><!--product_content-->
                            <div class="u-product-control u-product-desc u-text u-text-default u-text-6"><!--product_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/product_content_content--></div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":"Add to Cart"}--><!--/options_json-->
                            <a href="" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-3"><!--product_button_content-->Add to Cart<!--/product_button_content--></a><!--/product_button-->
                        </div>
                    </div><!--/product_item-->
                </div>
            </div><!--/products-->
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="carousel_92a9" style="margin-left: 7%; margin-right: 7%;">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-custom-font u-text u-text-palette-1-base u-text-1">Limited-Time Offers</h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-1">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-1" src="images/r-min.jpg">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-group-1">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Modern T-Shirt</h4>
                                    <h6 class="u-text u-text-3">$20.00</h6>
                                    <a href="https://nicepage.best" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-1">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-2">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-2" src="images/t.jpg">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-2">
                                <div class="u-container-layout u-valign-top u-container-layout-4">
                                    <h4 class="u-custom-font u-font-oswald u-text u-text-4">Women Dress</h4>
                                    <h6 class="u-text u-text-5">$60.00</h6>
                                    <a href="https://nicepage.com/website-builder" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-2">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-3">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3" src="images/sdsee.jpg">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-3">
                                <div class="u-container-layout u-valign-top u-container-layout-6">
                                    <h4 class="u-custom-font u-font-oswald u-text u-text-6">Women Cotton Top</h4>
                                    <h6 class="u-text u-text-7">$17.00</h6>
                                    <a href="https://nicepage.app" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-3">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-4">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-4" src="images/erw.jpg">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-4">
                                <div class="u-container-layout u-valign-top u-container-layout-8">
                                    <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-8">Summer Dress</h4>
                                    <h6 class="u-text u-text-9">$23.00</h6>
                                    <a href="https://nicepage.com/k/adult-website-templates" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-4">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="u-text u-text-default u-text-10">
                Images from <a href="https://www.freepik.com/free-photos-vectors/people" target="_blank">Freepik</a>
            </p>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_5b1c" style="margin-left: 7%; margin-right: 7%;">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-1">Related Products</h2>
            <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                            <img src="images/1712550709_2_4_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1900" data-image-height="2532">
                            <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-2">Sample Headline</h5>
                            <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-3">$ 90</h3>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                            <img src="images/6903603702_1_1_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-2">
                            <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-4">Sample Headline</h5>
                            <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-5">$ 200</h3>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
                            <img src="images/1760550700_2_1_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-3">
                            <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-6">Sample Headline</h5>
                            <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-7">$ 90</h3>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4">
                            <img src="images/6921619700_1_1_16.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-4">
                            <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-8">Sample Headline</h5>
                            <h3 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-9">$ 250</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>